.DS_Store
.DS_Store
data_mining_with_python/__pycache__/all_names.cpython-39.pyc
.DS_Store
.DS_Store
hands_on_machine_learning_with_sklearn_tensorflow_and_keras/datasets/chapter_2/housing.csv
.DS_Store
.DS_Store
.DS_Store
